.time{
    font-size: 80px;
    font-weight: bold;
    color: rgb(32, 78, 207);
}

.heading{
    color: #011835;
    font-size: 50px;
    font-weight: bold;
}
.para{
    color: #011a36fa;
    font-weight: 800;
	
}

  
  .time-display {
	height: 70%;
	font-size: 5em;
	display: flex;
	justify-content: center;
	margin-left: auto;
	flex-direction: column;
	align-items: center;
  }
  
  .timer-button-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 30%;
  }